header.header 

    .header__btn 
        .header__btn-line 

    a.header__link(href="") RESERVATION

    .header__menu
        a.header__menu-logo(href="index.html")
            img(src="images/images/headerbg.webp", alt="")
        h2.header__menu-title LA PERLE
        h5.header__menu-minititle French gourmet
        ul.header__menu-list 
            li
                a.header__menu-link(href="menu.html") MENU 
            li
                a.header__menu-link(href="page.html") ABOUT 
            li
                a.header__menu-link(href="") RESERVATIONS 
            li
                a.header__menu-link(href="") NEWS 
            li
                a.header__menu-link(href="") EVENTS 
            li
                a.header__menu-link(href="") CAREERS 
            li
                a.header__menu-link(href="") CONTACT
            .header__menu-sites 
                a.header__menu-site(href="")
                    img(src="images/images/facebook.webp", alt="")
                a.header__menu-site(href="")
                    img(src="images/images/instagram.webp", alt="")
                a.header__menu-site(href="")
                    img(src="images/images/telegram.webp", alt="")
            .header__languages 
                span.header__langugage.higlighted EN/
                span.header__language RU
