main.main 

    .main__about 
        
        img.main__about-img(src="images/images/main-menu.webp", alt="")  
        .main__about-content  
            .h3.main__about-title MENU
            p.main__about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a.main__about-link(href="") RESERVATION    
    .main__about 
        .main__about-content  
            .h3.main__about-title EVENTS
            p.main__about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
            a.main__about-link(href="") RESERVATION
        img.main__about-img(src="images/images/main-events.webp", alt="") 
            
    .main__about 
        img.main__about-img(src="images/images/main-aboutImg.webp", alt="") 
        .main__about-content 
            .h3.main__about-title ABOUT US
            p.main__about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.    
            a.main__about-link(href="") RESERVATION



    .main__cards
        .main__card
            h3.main__card-title VALENTINE’S DAY
            img.main__card-img(src="images/images/dark-cake.webp", alt="")
        .main__card
            h3.main__card-title  ENJOY 25% OFF DINNER 
            img.main__card-img(src="images/images/fish-mini.webp", alt="")
        .main__card
            h3.main__card-title FISH TARTARE WITH WASABI
            img.main__card-img(src="images/images/fish-cake.webp", alt="")
        .main__card
            h3.main__card-title RESTAURANT REVIEW
            img.main__card-img(src="images/images/restaurant.webp", alt="")
        .main__card
            h3.main__card-title MOTHER’S DAY
            img.main__card-img(src="images/images/white-cake.webp", alt="")
        .main__card
            h3.main__card-link CONTINUE READING OUR NEWS 
                a.underlined(href="") HERE
    



            