.footer__top


        .footer__forms
            form(action="").footer__form
                -var list = ['Date','How many people' ,'Your name' ,] 
                each item in list 
                    input(type="text" placeholder= item ).footer__form-input
                p.footer__form-about Monday - Sunday ; 09:00 - 02:00
            form(action="").footer__form
                -var list = [ 'Time'  ,'Special wishes' , 'Your phone'] 
                each item in list 
                    input(type="text" placeholder= item ).footer__form-input
                
                a.main__about-link(href="") RESERVATION

        
        
        

        .footer__about 
            h3.footer__about-title RESERVE A TABLE
            p.footer__about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis.
            
            p.footer__about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.