main.menu__main 
    .menu__main-content 
        .menu__main-slider 
            img.menu__main-img.active.slider-img1(src="images/images/citrusSalad.webp", alt="")
            img.menu__main-img.slider-img1(src="images/images/crab.webp", alt="")
            img.menu__main-img.slider-img1(src="images/images/fish-bigger.webp", alt="")
            img.menu__main-img.slider-img1(src="images/images/oliveCake.webp", alt="")
            .menu__main-comtroll 
                span.menu__main-btn.active.slider-btn1
                span.menu__main-btn.slider-btn1 
                span.menu__main-btn.slider-btn1 
                span.menu__main-btn.slider-btn1
        .menu__main-about 
            h2.menu__main-title 1st
            .menu__main-textContent
                span.menu__text-title CITRUS SALAD
                p.menu__main-text Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$

                span.menu__text-title CHILLED WHITE ASPARAGUS
                p.menu__main-text Baby Lettuces, Mussel Broth & Calabrese Chili ....................................................................

                span.menu__text-title FOIE GRAS TERRINE
                p.menu__main-text Rabbit, Carrots & Brioche .................................................................................................................. 25$

                span.menu__text-title BUCATINI
                p.menu__main-text Butter, Chili, Mussel Broth & Bottarga............................................................................................. 15$


                span.menu__text-title CHAWANMUSHI
                p.menu__main-text Mushrooms, Jalapeño, Radish & Scallions...................................................................................... 17$

                span.menu__text-title MATZAH BALL SOUP
                p.menu__main-text Poached Matzah Ball, Chicken Broth & Winter Vegetable .............................................................

                span.menu__text-title TUNA
                p.menu__main-text Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil ............................................................................................................. 38$

                span.menu__text-title CRAB
                p.menu__main-text Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé.................................................... 55$
                
                span.menu__text-title SALMON
                p.menu__main-text Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”.............................................. 57$
    .menu__main-content 
        .menu__main-slider 
            img.menu__main-img.active.slider-img2(src="images/images/fish-bigger.webp", alt="")
            img.menu__main-img.slider-img2(src="images/images/citrusSalad.webp", alt="")
            img.menu__main-img.slider-img2(src="images/images/crab.webp", alt="")
            img.menu__main-img.slider-img2(src="images/images/oliveCake.webp", alt="")
            .menu__main-comtroll 
                span.menu__main-btn.active.slider-btn2
                span.menu__main-btn.slider-btn2 
                span.menu__main-btn.slider-btn2 
                span.menu__main-btn.slider-btn2
        .menu__main-about 
            h2.menu__main-title 2 nd
            .menu__main-textContent
                span.menu__text-title POACHED COD
                p.menu__main-text Root Spinach, Bonji & Shellfish Beurre Blanc ................................................................................. 35$ 
                span.menu__text-title BROWN BUTTER BASTED TURBOT
                p.menu__main-text Terrine of  Winter Carrots & Cardamom, Carrot Citrus Emulsion ............................................. 37$      
                span.menu__text-title SQUAB EN CROUTE 
                p.menu__main-text Braised Shallots, Wild Mushrooms & Foie Gras .............................................................................. 35$

                span.menu__text-title CRESCENT FARM DUCK 
                p.menu__main-text Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................. 33$                                 

                span.menu__text-title SNAKE RIVER WAGYU COULOTTE    
                p.menu__main-text Turnips, Beets, Horseradish & Borscht Sauce ................................................................................ 45$

                span.menu__text-title MILLBROOK VENISON SADDLE  
                p.menu__main-text Beluga Lentils, Braised Cabbage & Mushroom Cacciatore ........................................................... 50$


                span.menu__text-title TUNA
                p.menu__main-text Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil ............................................................................................................. 38$

                span.menu__text-title CRAB
                p.menu__main-text Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé.................................................... 55$
                
                span.menu__text-title SALMON
                p.menu__main-text Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”.............................................. 57$
    .menu__main-content 
        .menu__main-slider 
            img.menu__main-img.active.slider-images3(src="images/images/oliveCake.webp", alt="")
            img.menu__main-img.slider-images3(src="images/images/crab.webp", alt="")
            img.menu__main-img.slider-images3(src="images/images/fish-bigger.webp", alt="")
            img.menu__main-img.slider-images3(src="images/images/citrusSalad.webp", alt="")
            .menu__main-comtroll 
                span.menu__main-btn.active.slider-btn3
                span.menu__main-btn.slider-btn3 
                span.menu__main-btn.slider-btn3 
                span.menu__main-btn.slider-btn3
        .menu__main-about 
            h2.menu__main-title 3rd
            .menu__main-textContent
                span.menu__text-title OLIVE OIL CAKE
                p.menu__main-text Satsuma & Riesling Sabayon .............................................................................................................. 21$

                span.menu__text-title APPLE TARTE TATIN
                p.menu__main-text Ginger Ice Cream & Miso .................................................................................................................... 17$

                span.menu__text-title SWEET POTATO CRÈME CARAMEL
                p.menu__main-text Brown Butter Ice Cream & Pecans .................................................................................................... 15$

                span.menu__text-title BROOKLYN BLACKOUT
                p.menu__main-text Confit Leg, Satsuma & Red Peshori Pistachio ................................................................................ 18$


                span.menu__text-titleWARM DATE CAKE
                p.menu__main-text Hazelnut Whiskey Sauce & Crème Fraîche Ice Cream .................................................................. 25$

                span.menu__text-titleFOUR FAT FOWL (NY)
                p.menu__main-text Cow's Milk, Pumpkin Seed Butter & Rhubarb ............................................................................... 30$

                span.menu__text-title TUNA
                p.menu__main-text Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil ............................................................................................................. 38$

                span.menu__text-title CRAB
                p.menu__main-text Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé.................................................... 55$
                
                span.menu__text-title SALMON
                p.menu__main-text Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”.............................................. 57$

        

                

