main.menu__main 
    .menu__main-content 
        .menu__main-slider 
            img.menu__main-img.active(src="images/images/citrusSalad.webp", alt="")
            img.menu__main-img(src="images/images/crab.webp", alt="")
            img.menu__main-img(src="images/images/fish-bigger.webp", alt="")
            img.menu__main-img(src="images/images/oliveCake.webp", alt="")
            .menu__main-comtroll 
                span.menu__main-btn.active
                span.menu__main-btn 
                span.menu__main-btn 
                span.menu__main-btn
        .menu__main-about 
            h2.menu__main-title 1st
            .menu__main-textContent
                span.menu__text-title CITRUS SALAD
                p.menu__main-text Oro Blanco, Salty Sea Feta & Calamansi Vinaigrette ...................................................................... 18$

                span.menu__text-title CHILLED WHITE ASPARAGUS
                p.menu__main-text Baby Lettuces, Mussel Broth & Calabrese Chili ....................................................................

                span.menu__text-title FOIE GRAS TERRINE
                p.menu__main-text Rabbit, Carrots & Brioche .................................................................................................................. 25$

                span.menu__text-title BUCATINI
                p.menu__main-text Butter, Chili, Mussel Broth & Bottarga............................................................................................. 15$


                span.menu__text-title CHAWANMUSHI
                p.menu__main-text Mushrooms, Jalapeño, Radish & Scallions...................................................................................... 17$

                span.menu__text-title MATZAH BALL SOUP
                p.menu__main-text Poached Matzah Ball, Chicken Broth & Winter Vegetable .............................................................

                span.menu__text-title TUNA
                p.menu__main-text Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil ............................................................................................................. 38$

                span.menu__text-title CRAB
                p.menu__main-text Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé.................................................... 55$
                
                span.menu__text-title SALMON
                p.menu__main-text Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu”.............................................. 57$

            

                

