main.main__page
    .main__imgBox
        .main__imgBox-card
            h2.main__imgBox-title KITCHEN
            img.main__images(src="images/images/kitchen.webp", alt="")
            a.header__link(href="") more
        .main__imgBox-card
            h2.main__imgBox-title KITCHEN
            img.main__images(src="images/images/kitchen.webp", alt="")
            a.header__link(href="") more
        .main__imgBox-card
            h2.main__imgBox-title KITCHEN
            img.main__images(src="images/images/kitchen.webp", alt="")
            a.header__link(href="") more
        .main__imgBox-card
            h2.main__imgBox-title KITCHEN
            img.main__images(src="images/images/kitchen.webp", alt="")
            a.header__link(href="") more

            //- img.main__images(src="images/images/kitchen.webp", alt="")
            //- img.main__images(src="images/images/", alt="")
            //- img.main__images(src="images/images/", alt="")
    script(src="script/app.min.js") 